<!--Display page title-->
<% content_for :title do %> 
	<title>Cassidy House | Home</title>
<% end %>
      <div class="row-fluid">
        <div class="span4 thumbnail">
        	<img src="/assets/web-airplane.jpg" />
	        <h4>Paper Airplane<span class="badge badge-important" style="float: right;">$12.95</span></h4>
	        <p>The Best Paper Airplane on the Planet super simplicity meets high performance.
	         There are 4 million paper airplane designs in this galaxy.But only one can be the best.<br /><br />
	         Introducing The Nakamura Lock, the perfect storm of time, distance, and ease of fold.
	         <br /><br /> The box contains 30 sheets of aerodynamic paper with step 1 (the most critical fold) 
	         already done.The book is a fold-by-fold guide and the science behind the flight.</p>
	       <!--<p><a class="btn btn-warning" href="#">View details &raquo;</a></p>-->
        </div>
        <div class="span4 thumbnail">
          <img src="/assets/web-eraseables.jpg" />
          <h4>Eraseables<span class="badge badge-important" style="float: right;">$12.95</span></h4>
          <p>How to build the Extraordinary Eraseables is the galaxy’s first instructional guide for creating an entirely new and exciting life form out of pink erasers, paperclips, pushpins and maybe even a binder clip or two.
    <br /><br />                                    
With no tools, or any experience in the art of office supply life-creation, 
anyone can turn the included ingredients into a pirate, princess, painter, peasant, 
potentate, podiatrist, personal banker, policemen, politician... and those are just the “p’s”).
</p>
          <!--<p><a class="btn btn-warning" href="#">View details &raquo;</a></p>-->
       </div>
        <div class="span4 thumbnail">
          <img src="/assets/web-postcards.jpg" />
          <h4>Postcard<span class="badge badge-important" style="float: right;">$12.95</span></h4>
          <p><!--
          	
          	World’s First Postcard Contest Book
                                        
What’s a postcard contest? Simple. It’s a contest that fits on a postcard.<br /><br />   -->                                   
The world’s First postcard contest Book contains 25 ready-to-play-and-mail postcards. What kinds of contests are they?
                                        
Here’s one example: The Stinky Foot Contest. To enter, you insert the special Stinky card in your shoe and wear it until you think you have a winner.
                                        
Then mail it to us.
                                  <br />    
A photo of each postcard will go on our website (along with our unbiased stink-rating) and winners will be determined by the crowd.
                                        
And that’s just the first contest. There are 24 more... each just a little weirder than the last.
          	
          </p>
          <!-- <p><a class="btn btn-warning" href="#">View details &raquo;</a></p>-->
        </div>
      </div>